@import url('https://fonts.googleapis.com/css2?family=Anton&family=Chakra+Petch:ital,wght@1,700&display=swap');

* {
  /* CSS HEX */
  --rich-black-fogra-29: #001524ff;
  --ming: #15616dff;
  --blanched-almond: #ffecd1ff;
  --amber-sae-ece: #ff7d00ff;
  --kobe: #78290fff;
}

.App,
body,
#root,
html {
  text-align: center;
  height: 100%;
  background-color: var(--blanched-almond);
}
.App {
  overflow: scroll;
}

button {
  font-family: 'Chakra Petch', sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  font-family: 'Chakra Petch', sans-serif;
  min-height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background-color: var(--ming);
  position: sticky;
  top: 0;
}

.overflow-text {
  height: 30px;
  width: 100%;
  overflow-y: hidden;
  white-space: pre-wrap;
  text-overflow: clip;
}

.book-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
}

.book-details img {
  width: 40%;
  margin: 20px auto;
}

.book-details h3 {
  margin: 8px auto;
  text-decoration: underline;
}

.book-details button {
  margin-top: 20px;
  width: 70px;
  padding: 4px;
  background-color: lightblue;
}

.nav-links {
  text-decoration: none;
  color: white;
  font-weight: 800;
  cursor: pointer;
}

.nav-links-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

/* .author-info {
  line-height: 1.1rem;
} */

.book-details .overflow-text:hover {
  overflow: visible;
}

.on-shelf {
  opacity: 0.8;
}

.on-shelf:hover {
  box-shadow: 1;
}

.nav-links-active {
  text-decoration: underline;
  color: var(--rich-black-fogra-29);
}
