.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.book-list-item {
  background-color: white;
  width: 8rem;
  font-size: .5rem;
  height: 13rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0;
}

.book-list-item h5, p, h3 {
  margin: 0 auto;
}

.result-list-container {
  background-color: magenta;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;

}

.book-list-item img {
  width: 75px;
}



.on-shelf {
  opacity: 0.8;
}

.on-shelf:hover {
  box-shadow: 1;
}